<!DOCTYPE html>
<html lang="en">
<head>
   {{>headerlink}}
</head>
<body>
    {{>navbar}}
     <div class="col-md-6 col-12 main_header_right">

                        <img src="images/error.svg" class=" w-100 img-fluid" alt="...">
                    </div>
     <div class="col-md-6 col-12 main_header_left">

                        <p>welcome to Rahul's world</p>
                        <h1>oops! Page Not Found</h1>
                        <a href="/"><button>Go Back</button></a>



                    </div>
    {{>footer}}
</body>
</html>